* {
  margin: 0;
  padding: 0;
}
/**
=====================
El main de la pagina
=====================
*/
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(200, 241, 255);
}
#mapa {
  height: 400px;
  width: 80%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  height: 350px;
  width: auto;
}

#propuestas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whiteBoard {
  width: 40%;
  margin: 5px 5px;
  padding: 10px;
  text-align: center;
  background-color: lightgray;
  border-radius: 25px;
  border: 3px solid rgb(255, 128, 0);
}

#actividad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#servicio {
  background-color: greenyellow;
}

hr {
  border: 2px solid lightslategray;
  border-radius: 100px;
}

/**
============================
Las targetas
============================
*/

.actividad {
  margin: 5px;
  background-color: ghostwhite;
  width: 350px;
  padding: 10px;
  border-radius: 15px;
}
